<div class="container">
  <img
    class="container-image"
    src="../../../../assets/photos/card-image.png"
    alt="Card Image"
  />
  <div class="container__title">
    <p class="container__title-price">80 000 ₾</p>
    <div class="container__title__address">
      <img
        class="container__title__address-icon"
        src="../../../../assets/photos/location-icon.png"
        alt="Location Icon"
      />
      <p>თბილისი, ი. ჭავჭავაძის 53</p>
    </div>
  </div>
  <div class="container__details">
    <div class="container__details__room">
      <img src="../../../../assets/photos/bed-icon.png" alt="Bed Icon" />
      <p>2</p>
    </div>
    <div class="container__details__size">
      <img src="../../../../assets/photos/vector.png" alt="Vector Icon" />
      <p>55 მ<sup> 2</sup></p>
    </div>
    <div class="container__details__code">
      <img
        src="../../../../assets/photos/postal-code-image.png"
        alt="Postal Code Icon"
      />
      <p>0160</p>
    </div>
  </div>
</div>
