.header{
    position: relative;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #DBDBDB;

    img{
        position: absolute;
        top: 35px;
        left: 190px;
        color: rgb(199, 18, 5);
        cursor: pointer;
    }
}