<div class="container">
  <div class="container__filter">
    <div class="container__filter__item">
      <p class="font-medium">რეგიონი</p>
      <img src="/assets/photos/filter-icon.png" alt="Image" />
    </div>
    <div class="container__filter__item">
      <p class="font-medium">საფასო კატეგორია</p>
      <img src="/assets/photos/filter-icon.png" alt="Image" />
    </div>
    <div class="container__filter__item">
      <p class="font-medium">ფართობი</p>
      <img src="/assets/photos/filter-icon.png" alt="Image" />
    </div>
    <div class="container__filter__item">
      <p class="font-medium">საძინებლების რაოდენობა</p>
      <img src="/assets/photos/filter-icon.png" alt="Image" />
    </div>
  </div>

  <div class="container__addition">
    <button class="container__addition-listing">+ ლისტინგის დამატება</button>
    <button class="container__addition-agent">+ აგენტის დამატება</button>
  </div>
</div>
